# virtual environments
as2/
lib/
venv/
.venv/
Assignment2/build_cnn/as2/

# jupyter
.ipynb_checkpoints/

# python cache
__pycache__/
*.py[cod]

# models
*.pt
*.pth

# generated exports
*.html

# datasets
Assignment2/build_cnn/data/
*.tar.gz
*.zip

# mac junk
__MACOSX/
.DS_Store
